Django==5.0.2
Pillow==10.2.0
asgiref==3.7.2
colorama==0.4.6
django-cors-headers==4.3.1
pypng==0.20220715.0
qrcode==7.4.2
sqlparse==0.4.4
typing_extensions==4.12.2
tzdata==2024.1
daphne==4.1.0
channels==4.0.0
django-channels==0.7.0
whitenoise==6.6.0
openpyxl==3.1.2
twisted[tls]==24.3.0
